.container {
    background-color: rgb(240, 234, 234);
}

.container .row .pt-5 .dark-grey-text {
    background-color: lightgrey;
    
}

.container .py-4 {
    background-color: rgb(4, 75, 4);
    color: white;
    width: 100%;
}

.container .py-4 a {
    color: white;
}

.footer-copyright {
    background-color:#dfe4ea;
    color: white;
}